 /* Global */

:root {
    /* --primary-bg: #1b1c1f; */
    --primary-bg:#093389;
    --secondary-bg: #ffffff;
    --text-color: #ffffff;
    --secondary-text-color: #121212;
    --tertiary-text-color:#093389;
    --accent-color1: #5cacfc; 
    --accent-color2: #164bb6;
    
}

body {
    background: var(--primary-bg) no-repeat center center fixed;
    margin: 0;
    padding: 0;
}

/* Fonts */

* {
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--tertiary-text-color);
    text-align: center;
}

.material-icons { 
    font-size: 1.1rem !important;
    vertical-align: middle;
    font-weight: 600 !important;
}

.lable-text {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 5px;
}

/* List */

ul li {
    margin-top: .5rem;
    list-style: square inside;
    margin-right: 1rem;
}

/* Containers */

.container {
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
}


@media (max-width: 768px) {
        .container {
        margin: 0 auto;
        width: 100%;
        padding: 20px;
    }
}

.paper {
    background: var( --secondary-bg);
    box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 40px;
}


/* Alignment */
.d-flex {
    display: flex;
}
 .center {
    align-items: center;
    justify-content: center;
 }

.btn {
    background: var( --accent-color2);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: #05235d;
}

.s-btn {
    margin-left: .5rem;
    font-weight: 700;
    background: var( --accent-color2);;
    color: var( --secondary-bg);
    border: 2px solid var( --accent-color2);;
    padding: .3rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.s-btn:hover {
    background: var(--primary-bg);
    border: 2px solid var(--primary-bg);
    color: var( --secondary-bg);
}


.i-btn {
    font-weight: 700;
    background: none;
    color: #093389;
    border: 2px solid transparent;
    padding: .1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3rem;
}


.i-btn:hover {
    background: var(--primary-bg);
    color: var( --secondary-bg);
}


/* Spacing */

.mb-1 {
    margin-bottom: 1rem;
} 

.mb-2 {
    margin-bottom: 2rem;
} 

.mb-3{
    margin-bottom: 3rem;
} 

.mt-1 {
    margin-top: 1rem;
} 

.mt-2 {
    margin-top: 2rem;
} 

/* form fields */

.input-field {
    padding: .8rem;
    border-radius: 10px;
    border: 2px solid var(--primary-bg);
}

.col {
    display: flex;
    flex-direction: column;
}
.col {
    display: flex;
    flex-direction: row;
}

/* footer */

footer {
    position: relative;
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    bottom: 0;
    padding: 10px;
}

.footer-text {
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}
